name: E2E Tests
on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

  workflow_dispatch:
    inputs:
      branch:
        description: 'Branch to test'
        required: true
        default: 'main'    

jobs:
  e2e:
    name: Run Cypress E2E tests
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4
        with:
          ref: ${{ github.event.inputs.branch }}

      - name: Setup Node.js
        uses: actions/setup-node@v6
        with:
          node-version: 20
          cache: npm

      - name: Install dependencies
        run: npm install
      - name: Start server and run Cypress tests
        run: npx start-server-and-test start http://localhost:3000 cy:run

      # 5️⃣ (Optional) Save screenshots and videos if tests fail
      - name: Upload Cypress artifacts (if failed)
        if: failure()
        uses: actions/upload-artifact@v4
        with:
          name: cypress-artifacts
          path: |
            cypress/screenshots
            cypress/videos
